.col-md-12 {
	color: green;
    font-weight: bolder;
	font-family: Garamond;
	background-image: url("images/houseselect2.jpeg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	padding-left: 50px;
    height: 380px;
}

img{
    padding:0;
}
body{
    background-color: #e6ffe6;
    font-family: 'Times New Roman', Times, serif;
}

#form {
    background-color: lightgrey;
    height: 300px;
    margin-bottom: 50px;
    margin-right: 20px;
    margin-left: 50px;
    padding-top: 5px;
}

#map {
    height: 800px;
}


button {
   text-align: center;
    margin-top: 20px;
    margin-left: 30%;
    border: 3px solid green

}

/* .col-md-8 {   
    background: rgba(255, 255, 255, .7);
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
} */

.card {
    padding: 4.5rem;
    margin: 20px;
    background: #edc0bf;
    background: linear-gradient(90deg, lightgrey 0, #ffe6cc 58%);
    /* font-family: 'Inter', sans-serif; */
    width: 400px;
    height: auto;
    padding: 2rem;
    border-radius: 1rem;
  }

  
